.table {
    background-color: rgba(225, 225, 225, 0.129);
    backdrop-filter: blur(15px) !important;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 600px;

    -webkit-backdrop-filter: blur(10px);
    -webkit-box-shadow: 27px -3px 146px 21px #00afef6b;
    -moz-box-shadow: 27px -3px 146px 21px #00afef6b;
    box-shadow: 27px -3px 146px 21px #00afef6b;
    input {
        color: #1711d2;
        font-size: 15px;
        height: 100%;
        width: 100%;
        outline: none;
        border-bottom: 2px solid var(--blue);

        &:focus {
            border-bottom: 3px solid #00afef;
            box-shadow: var(--blue) 0 6px 15px;
        }
    }
}
.login {
    outline: none;
    font-size: 35px;
    font-weight: 900;
    color: white;
    text-align: center;
    animation: neon 5s infinite;
}
@keyframes neon {
    0%,
    39%,
    41%,
    59%,
    61%,
    100% {
        text-shadow: #ffffff 0 0 10px, #07a4f9 0 0 20px, #07a4f9 0 0 30px;
    }
    40%,
    60% {
        text-shadow: none;
    }
}

.login-Use {
    position: relative;
    margin-top: 20px;
    width: 220px;
    height: 40px;
}

.login-password {
    margin-top: 40px;
    position: relative;
    width: 220px;
    height: 40px;
}
label {
    display: inline;
    font-size: 1̀rem;
    color: var(--blue);
    position: absolute;
    font-weight: 400;
    pointer-events: none;
    left: 5px;
    top: 20px;
}

.table input:focus + label,
.table input:valid + label {
    font-size: 2rem;
    font-weight: 600;
    text-shadow: 0 0 4px var(-blue);
    top: -14px;
    display: inline-flex;
    left: 10px;
    color: var(--blue);
}
.login-btn {
    font-size: 25px;
    font-weight: 600;
    color: aliceblue;
    background: var(--blue);
    margin-top: 30px;
    position: relative;
    width: 220px;
    height: 50px;
    border-radius: 5px;
    &:hover {
        opacity: 0.8;
        transform: scale(1.05);
        transition: 0.4s;
    }
}
