.wrapper {
    display: flex;
    align-items: center;
    padding: 6px 12px;
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.avata {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.info {
    margin-left: 12px;
    flex: 1;
}

.name {
    font-size: 1.3rem;
    font-weight: 600;
}

.check {
    margin-left: 8px;
    font-size: 1.2rem;
    color: rgb(32, 213, 236);
}

.usename {
    font-size: 1.2rem;
}
